*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100%;
    background: #000000
}
.menu ul{
    display: inline-flex;
    margin: 50px;
}
.menu ul li{
    list-style: none;
    margin: 0 20px;
    color: #ffd4fb;
    cursor: pointer;
}
.logo img{
    width: 75px;
    margin-top: -7px;
    margin-right: 48px;
}
.inactive-btn{
    top: 40px;
    right: 1580px;
    position: absolute;
    text-decoration: none;
    color: #c5a8bb;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#000000,#000000),radial-gradient(circle at top left,#a28ad2,#69ffb9);
    background-origin: border-box;
    background-clip: content-box,border-box;
}
.inactive-btn span{
    display: block;
    padding: 8px 22px;
}
.active{
    top: 40px;
    right: 1440px;
    position: absolute;
    text-decoration: none;
    color: #c5a8bb;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#000000,#000000),radial-gradient(circle at top left,#83bbff,#ff0084);
    background-origin: border-box;
    background-clip: content-box,border-box;
}
.active span{
    display: block;
    padding: 8px 22px;
}
.signup-btn{
    top: 40px;
    right: 180px;
    position: absolute;
    text-decoration: none;
    color: #c5a8bb;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#000000,#000000),radial-gradient(circle at top left,#7289da,#a28ad2);
    background-origin: border-box;
    background-clip: content-box,border-box;
}
.signup-btn span{
    display: block;
    padding: 8px 22px;
}
.login-btn{
    top: 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #c5a8bb;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#000000,#000000),radial-gradient(circle at top left,#ff69b5,#69ffb9);
    background-origin: border-box;
    background-clip: content-box,border-box;
}
.login-btn span{
    display: block;
    padding: 8px 22px;
}
.banner{
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
    color: #2ecc71;
}
.app-text{
    width: 50%;
    float: left;
}
.app-text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
    color: #69ffb9
}
.app-text p{
    width: 650px;
    font-size: 18px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #2ecc71
}
.app-picture{
    width: 280px;
    float: right;
}
.app-picture img{
    width: 280px;
    margin-top: -20px;
    padding-left: 50px;
}
.contact-btn{
    top: 400px;
    right: 1640px;
    position: absolute;
    text-decoration: none;
    color: #ffd4fb;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(#000000,#000000),radial-gradient(circle at top left,#a1c5db,#69ffb9);
    background-origin: border-box;
    background-clip: content-box,border-box;
}
.contact-btn span{
    display: block;
    padding: 8px 22px;
}
